body {
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #427191;
}
.quem-somos {
    background-color: #0A1F39;
    color: white;
}
.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: rgb(161, 163, 245);
}

.bg-footer {
    background-color: black;
    color: white;
}